<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en/US">
<head>
    <% include ../parts/head %>

    <title><%= title %></title>
    <link href="../../static/signin.css" rel="stylesheet">
</head>
<body class="container">

<header>
    <% include ../parts/header %>
</header>

<main>
    <div class="row-fluid">
        <h1>
            <center> <%= title %></center>
        </h1>

    </div>
</main>

<footer>
    <% include ../parts/footer %>
</footer>

</body>
</html>
