<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <script
          src="https://code.jquery.com/jquery-2.2.4.js"
          integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
          crossorigin="anonymous"></script>
  <% include ../parts/head %>
  <link href="../../static/signin.css" rel="stylesheet">


  <script>

    $(document).ready(function () {
      let email,username, pass;
      document.addEventListener('keydown',  (event) => {
        if (event.keyCode === 13){
          sendLoginRequest()
        }
      });
      function sendLoginRequest() {

        username = $("#username").val();
        pass = $("#password").val();
        /*
        * Perform some validation here.
        */
        $.ajax({
          url: "/login",
          method: "POST",
          headers:{"Authorization":"Basic " + btoa(username+':'+pass)},
          success: () => {
            window.location.href = "/";
          },
          error: (err) => {
            console.log('fail!')
            $("#message").text(err.responseJSON.error.message);
          }
        })

      }


      $("#submit").click(sendLoginRequest);
    });
  </script>

</head>
<body class="container">

<header>
  <% include ../parts/header %>
</header>
<main>
  <div class="container">

    <div class="form-signin" >


      <div style="text-align: center;"><h2 class="form-signin-heading"> Login</h2></div>
      <label for="username" class="sr-only">Login</label>
      <input type="" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" id="submit">Sign in</button>
      <div><font color="red"><span id="message"></span></font></div>

    </div>

  </div> <!-- /container -->

</main>
<footer>
  <% include ../parts/footer %>
</footer>
</body>
</html>
