<!-- views/parts/footer.ejs -->
<head>
    <style>

        div > img {
            height: 30px;

        }
    </style>
</head>
<br> <br>
<div class="footer center bottom">
<p class="text-center text-muted"> Contact me <a href="mailto:chrono.xcrosss@gmail.com"> chronicless </a> </p>
</div>