<!-- views/parts/head.ejs -->

<meta charset="UTF-8">
<title>OTUS HomeWork RSS API server</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- Custom styles for this template -->
   
<style>
	body 	{ padding-top:50px; }
</style>
